<div class="page-header">
	<h1>
		Users 
		<a href="/users/create" class="btn btn-default">
			<span class="glyphicon glyphicon-plus"></span> 
			New User
		</a>
	</h1>

</div>

<div class="jumbotron text-center" ng-show="user.processing">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading Users...</p>
</div>

<table class="table table-bordered table-striped" ng-show="user.users">
	<thead>
		<tr>
			<th>_id</th>
			<th>Name</th>
			<th>Username</th>
			<th class="col-sm-2"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="person in user.users">
			<td>{{ person._id }}</td>
			<td>{{ person.name }}</td>
			<td>{{ person.username }}</td>
			<td class="col-sm-2">
				<a ng-href="/users/{{ person._id }}" class="btn btn-danger">Edit</a>
				<a href="#" ng-click="user.deleteUser(person._id)" class="btn btn-primary">Delete</a>
			</td>
		</tr>
	</tbody>
</table>

<!--
<script>
	function wireUpEvents() {

		var validNavigation = false;

		window.onunload = function() {
			if(!validNavigation){
				localStorage.removeItem('token');
				return '';
			}
		};
		console.log(validNavigation);

		/*
		 * For a list of events that triggers onbeforeunload on IE
		 * check http://msdn.microsoft.com/en-us/library/ms536907(VS.85).aspx
		 */
// Attach the event keypress to exclude the F5 refresh
		$(document).bind('keypress', function(e) {
			if (e.keyCode == 116){
				validNavigation = true;
			}
		});

// Attach the event click for all links in the page
		$("a").bind("click", function() {
			validNavigation = true;
		});

		// Attach the event submit for all forms in the page
		$("form").bind("submit", function() {
			validNavigation = true;
		});

		// Attach the event click for all inputs in the page
		$("input[type=submit]").bind("click", function() {
			validNavigation = true;
		});

	}

	// Wire up the events as soon as the DOM tree is ready
	$(document).ready(function() {
		wireUpEvents();
	});
</script> -->
